@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap');

html {
    scroll-behavior: smooth;
}

header {
  height: 200vh;
}
nav {
  z-index: 1000;
}
.container, .lowerSection {
    height: 100vh;
    left: 0;
    width: 100%;

  clip: rect(0, auto, auto, 0);
  overflow: hidden;
  position: absolute;
  -webkit-mask-image: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 100%);
}

.container_solid {
    background-image: url("capture02.jpg");
    background-repeat: no-repeat;
    background-position-y: 80%;
    background-size: cover;

  top: 0;
}
#navigationBox {
    position: fixed;
    display: flex;  
    margin: auto;
    width: 100%;

    top: 5%;
    -webkit-transform: translateY(-5%);
      -ms-transform: translateY(-5%);
          transform: translateY(-5%);
}
#navigationBox > #navBox2 {
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navigationBox > #navBox1 {
    width: 45%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#navigationBox > #navBox1 > #spacing { 
    width: 15%;
}
#navigationBox > #navBox1 > a {
    width: 25%;
    height: 100%;
   
    background-image: url("cam01.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 200ms ease-in-out; 
  
    scale: 1.2;
}
#navigationBox > #navBox1 > a:hover {
  transform: translateX(0.6vw);
  scale: 1.5;
}


.title_wrapper{
  position: fixed;
  display: block;  
  margin: auto;
  width: 100%;
  /* center the text wrapper vertically */
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.title_wrapper h1{
  text-align: center;
  font-size: 12vw;

  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-weight: 900;
}

.container_solid .title_wrapper h1{
  /* the text background */
 
  background-size: 100vw auto;
  background-position: center;
  
 color: rgb(0, 0, 0);
  filter: drop-shadow(0px 0px 1px rgb(226, 217, 217));
}

#navigationBox > #navBox2 > button{
    padding: 5px;
    background-color: inherit;
    font-weight: bolder;
    font-family: 'Arvo', serif;
    font-size: 2vw;
    border: none;

    transition: all 300ms ease-in-out;
    
}
#navigationBox > #navBox2 > button:nth-last-child(1){
    margin-right: 30px;
}

#navigationBox > #navBox2 > button:hover {
    scale: 1.1;
    padding: 4px 5px 4px 5px;
}

#navigationBox > #navBox2 > button {
	display: inline-block;
	position: relative;
  }
  
  #navigationBox > #navBox2 > button:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #000000;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
  }
  
  #navigationBox > #navBox2 > button:hover:after, 
  .container_image > #navigationBox > #navBox2 > button:hover:after{
	
    transform: scaleX(1);
	  transform-origin: bottom left;
  }

  .container_image > #navigationBox > #navBox2 > button:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    }





a {
    text-decoration: none;
    color: inherit;
}


.container_solid > #navigationBox > #navBox2 > button {
    font-family: 'Arvo', serif;
    color: rgb(0, 0, 0);
    filter: drop-shadow(0px 0px 2px rgb(255, 255, 255));
    
    /* background: url('https://images.unsplash.com/photo-1575058752200-a9d6c0f41945?&q=85');
    background-size: 100vw auto;
    background-position: center;
   
    
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text; */
    
}
.container_image .title_wrapper h1{
    color: rgb(255, 255, 255);
    
  }
.container_image > #navigationBox > #navBox2 > button {
    color: rgb(255, 255, 255);
    filter: drop-shadow(0px 0px 1px rgb(0, 0, 0));
}



.container_image {
  /* Grab a free image from unsplash */
  background-image: url("camera01.jpg");
  background-size:100vw auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
  /* position the second container below the first container */
  top: 100vh;
}


section h2 {
  font-family: 'Fraunces', serif;
}

section p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/* ////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////// */

section {
  max-height: 100vh;
  max-width: 100vw;

  top: 200vh;
  position: relative;
}


#cardsBox1 {
	width: 80vw;
	height: 25vh;
	
	box-sizing: border-box;
  margin: 20vw 0px 0px 0px;
  padding: 0px;

  display: flex;

position: absolute;
top: 1%;
left: 50%;
transform: translate(-50%);
	
	
}  
#textBox {
  width: 40vw;
  height: 25vh;
  
  position: relative;
  opacity: 0;
  transform: translate(100%, -10%);
  transition: all 1s ease-in-out;
  
}
#picsBox {
	width: 40vw;
	height: 25vh;
 
	display: flex;
	justify-content: center;
	align-items: center;

 
  top: 1%;
  left: 50%;
  transform: translate(-50%, 0%);
}


#card1 {
	background-image: url('https://images.unsplash.com/photo-1612061279301-c1bd3a484fcf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGh1bWFufGVufDB8fDB8d2hpdGV8&auto=format&fit=crop&w=500&q=60');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  
}
#card2 {
  background-image: url('https://plus.unsplash.com/premium_photo-1664368832311-7fe635e32c7c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aHVtYW58ZW58MHx8MHx3aGl0ZXw%3D&auto=format&fit=crop&w=500&q=60');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

	

}
#card3 {
	background-image: url('https://plus.unsplash.com/premium_photo-1664361480215-0614092ca185?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDl8fGh1bWFufGVufDB8fDB8d2hpdGV8&auto=format&fit=crop&w=500&q=60');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
#card4 {
	background-image: url('https://images.unsplash.com/photo-1549201440-34391ce5ffd7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjV8fGh1bWFufGVufDB8fDB8d2hpdGV8&auto=format&fit=crop&w=500&q=60');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

#card1, #card2, #card3, #card4 {
	width: 21vw;
	height: 28vw;
	border-radius: 10px;
	cursor: pointer;
	position: absolute;
  
	transition: all 0.5s ;

	border: 1px solid initial;

	box-shadow: 0px 0px 10pxrgb(255, 255, 255);
}


#footerBox {
  width: 100vw;
  height: 30vh;

  top: 370vh;
  background-color: #4b4b4b;
}

/* 

put the cards inside thetext box 
 when hovered on it separates into 
text and photos

 */

@keyframes changePic {
  0% {background-image: url();}
}